src/nodered/flows.json
[{"id":"e39ca464.245368","type":"tab","label":"Scheduly","disabled":false,"info":""},{"id":"906b7ebc.b802f","type":"http in","z":"e39ca464.245368","name":"plannings","url":"/plannings/:id","method":"get","upload":false,"swaggerDoc":"","x":80,"y":60,"wires":[["8d2de566.d9cca8"]]},{"id":"8d2de566.d9cca8","type":"file in","z":"e39ca464.245368","name":"","filename":"config/nodered/plannings/plannings.json","format":"utf8","sendError":true,"x":360,"y":60,"wires":[["acb84eeb.41b9a"]]},{"id":"acb84eeb.41b9a","type":"json","z":"e39ca464.245368","name":"","property":"payload","action":"","pretty":false,"x":650,"y":60,"wires":[["df667b0d.20f3b8"]]},{"id":"df667b0d.20f3b8","type":"http response","z":"e39ca464.245368","name":"","x":870,"y":60,"wires":[]},{"id":"1396c594.c224ea","type":"http response","z":"e39ca464.245368","name":"","x":1990,"y":1220,"wires":[]}]